In [1]:
#imports
import docx
import docx2txt
import sqlalchemy
import pandas as pd
import os

In [2]:
#Connect to remote PostgreSQL database hosted on Heroku
engine = sqlalchemy.create_engine(os.environ.get("POSTGRES"))

In [3]:
#SQL magic to display output
%reload_ext sql
%sql $engine.url

In [4]:
#Companies table with company id and name of company
%sql CREATE TABLE IF NOT EXISTS companies (company_id SERIAL PRIMARY KEY, company_name VARCHAR (100) NOT NULL);

 * postgresql://zttfbnjjfrdkdp:***@ec2-18-210-64-223.compute-1.amazonaws.com:5432/d1ifcg0i41g47c
Done.

[]

In [5]:
#Question table with question, response, and metadata
%sql CREATE TABLE IF NOT EXISTS questions (question_id SERIAL PRIMARY KEY, question VARCHAR (1000) NOT NULL, answer VARCHAR (2000) NOT NULL, section VARCHAR (500) NOT NULL, number INT NOT NULL, company_name VARCHAR (100), company_id INT NOT NULL, version VARCHAR(20), FOREIGN KEY (company_id) REFERENCES companies (company_id));

 * postgresql://zttfbnjjfrdkdp:***@ec2-18-210-64-223.compute-1.amazonaws.com:5432/d1ifcg0i41g47c
Done.

[]

In [6]:
#Extract raw text from example docx file and remove apostrophes so SQL insertions work
text = docx2txt.process("Completed Anonym KMS Assessment Discussion Framework R03.3-.docx")
all_lines = [line.strip().replace("'", "") for line in text.split("\n") if line != ""]

In [7]:
#Extract question and section lines from docx file based on paragraph formatting. Sections are "Heading 1" and questions are "Heading 2" or "Heading 3"
doc = docx.Document("Completed Anonym KMS Assessment Discussion Framework R03.3-.docx")
questions = [paragraph.text.strip().replace("'", "") for paragraph in doc.paragraphs if paragraph.text != "" and paragraph.style.name in ["Heading 2", "Heading 3"]]
sections = [paragraph.text.strip().replace("'", "") for paragraph in doc.paragraphs if paragraph.text != "" and paragraph.style.name == "Heading 1"]

In [8]:
#Given database and question data, insert a line into the question table for each new question and a line into the company table for each new line
def upload_question_to_database(question, answer, section, company, version, number, sql_engine):
    
    companies_df = pd.read_sql("SELECT * FROM companies WHERE company_name = '" + company + "'", sql_engine)
    #Check if company already exists
    if companies_df.shape[0] == 0:
        sql_engine.execute(f"INSERT INTO companies(company_name) VALUES ('{company}')")

    questions_df = pd.read_sql(sqlalchemy.text("SELECT * FROM questions WHERE question = '" + question + "' AND answer = '" + answer + "'"), sql_engine)    
    #Check if exact question and answer already exist
    if questions_df.shape[0] == 0:
        company_id = pd.read_sql("SELECT company_id FROM companies WHERE company_name = '" + company + "'", sql_engine)["company_id"][0]
        sql_engine.execute(sqlalchemy.text(f"INSERT INTO questions (question, answer, section, number, company_name, company_id, version) VALUES ('{question}', '{answer}', '{section}', {number}, '{company}', {company_id}, '{version}')"))

In [9]:
def read_questions(company, version, current_section, i, sql_engine):
    
    #Match questions with answers
    question_number = 1
    while i < len(all_lines):
        current_question = all_lines[i]
        try:
            next_ten_questions = questions[questions.index(current_question) + 1: questions.index(current_question) + 11]
        except:
            i += 1
            continue
        current_answer = all_lines[i+1]
        i += 2
        while i < len(all_lines):
            if all_lines[i] in next_ten_questions:
                break
            if all_lines[i] == sections[min(sections.index(current_section) + 1, len(sections) - 1)]:
                current_section = all_lines[i]
                i += 1
                break
            current_answer += "\n" + all_lines[i]
            i += 1
        upload_question_to_database(current_question, current_answer, current_section, company_name, document_version, question_number, sql_engine)
        question_number += 1

In [10]:
#Read the full document

#Counter which keeps track of current line in the document
i = 0
version_not_found = True

#Keeps track of the section of survey that the counter is currently at
current_section = ""

#Keeps track of how many questions have been found
question_number = 1
questions_started = False

#Read lines until the first section is found, then read all the questions
while not questions_started:
    
    #Find the company name
    if all_lines[i] == "Technology Assessment of":
        company_name = all_lines[i+1]
        i += 2
        
    #Find the document ADF version
    elif "Document Version" in all_lines[i] and version_not_found:
        document_version = all_lines[i].split(" ")[-1]
        version_not_found = False
        i += 1
        
    #Check if the current line is a section, and if so start reading questions
    elif all_lines[i] in sections:
        current_section = all_lines[i]
        i += 1
        questions_started = True
    else:
        i += 1

read_questions(company_name, document_version, current_section, i, engine)

In [11]:
#Question table
questions_df = pd.read_sql(sqlalchemy.text("SELECT * FROM questions"), engine)
questions_df.head()

,question_id,question,answer,section,number,company_name,company_id,version
0,1,Describe your Product Management Organization....,Product management has always ultimately been ...,Product and Organization Overview,1,A SaaS Co.,1,R03.3
1,2,Describe your Requirements Management Process....,"Never had a formalized process. Ultimately, en...",Product and Organization Overview,2,A SaaS Co.,1,R03.3
2,3,When were the last changes made to the Require...,"Its not a well defined process, so its been so...",Product and Organization Overview,3,A SaaS Co.,1,R03.3
3,4,Please provide an overview of your short- and ...,The yearly and quarterly roadmap as well as ep...,Product and Organization Overview,4,A SaaS Co.,1,R03.3
4,5,Where do ideas for new features/enhancements c...,"As mentioned in point 1/2 above, they come fro...",Product and Organization Overview,5,A SaaS Co.,1,R03.3

In [12]:
#Company table
companies_df = pd.read_sql(sqlalchemy.text("SELECT * FROM companies"), engine)
companies_df.head()

   company_id company_name
0           1   A SaaS Co.